<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    link rel="icon" href="../zy/image/m.jpg" sizes="20x20"
    type="image/png">
    <link rel="stylesheet" href="../zy/css/vendor.css">
    <link rel="stylesheet" href="../zy/css/style.css">
    <link rel="stylesheet" href="../zy/css/responsive.css">
    <script src="../zy/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="head"></div>
<script type="text/javascript">
    $('#head').load('../zy/html/header.html')
</script>
<div class="blog-page-area">
    <div class="container">
        <div class="error-area-inner text-center"><h2>500</h2>
            <h3>抱歉，此页面不存在。</h3><a class="btn btn-base" href="index.html">返回首页</a></div>
    </div>
</div>
<div id="footer"></div>
<script type="text/javascript">
    $('#footer').load('../zy/html/footer.html')
</script>
<div class="back-to-top"><span class="back-top"><i class="fa fa-angle-up"></i></span></div>
<script src="../zy/js/vendor.js"></script>
<script src="../zy/js/main.js"></script>
</body>
</html>