<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>雪利资源网</title>
    <link rel="icon" href="../zy/image/m.jpg" sizes="20x20"
          type="image/png">
    <link rel="stylesheet" href="../zy/css/vendor.css">
    <link rel="stylesheet" href="../zy/css/style.css">
    <link rel="stylesheet" href="../zy/css/responsive.css">
    <script src="../zy/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="head"></div>
<script type="text/javascript">
    $('#head').load('../zy/html/header.html')
</script>
<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner"><h5 class="page-title">本分类</h5>
                    <ul class="page-list">
                        <li><a href="index.html">主页</a></li>
                        <li>本分类</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="cat-page-area pd-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pd-top-50">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post-wrap style-box">
                            <div class="thumb"><img src="../zy/picture/120.png" alt="img"></div>
                            <div class="details">
                                <div class="post-meta-single mb-4 pt-1">
                                    <ul>
                                        <li><i class="fa fa-user"></i>雪利资源网</li>
                                    </ul>
                                </div>
                                <h6 class="title"><a href="blog-details.html">
                                    文章标题
                                </a></h6>
                                <a class="btn btn-base mt-4" href="blog-details.html">查看</a></div>
                        </div>
                    </div>
                </div>
                <div class="add-area mb-4"><a href="#"><img src="../zy/picture/211.png" alt="img"></a></div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post-wrap style-box">
                            <div class="thumb"><img src="../zy/picture/120.png" alt="img"></div>
                            <div class="details">
                                <div class="post-meta-single mb-4 pt-1">
                                    <ul>
                                        <li><i class="fa fa-user"></i>雪利资源网</li>
                                    </ul>
                                </div>
                                <h6 class="title"><a href="blog-details.html">
                                    文章标题
                                </a></h6>
                                <a class="btn btn-base mt-4" href="blog-details.html">查看</a></div>
                        </div>
                    </div>

                </div>
                <nav class="mt-4 text-center">
                    <ul class="pagination">
                        <li class="page-item prev"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 pd-top-50">
                <div class="category-sitebar">

                    <div class="widget widget-add">
                        <div class="add"><img class="w-100" src="../zy/picture/312.png" alt="img"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
<script type="text/javascript">
    $('#footer').load('../zy/html/footer.html')
</script>
<div class="back-to-top"><span class="back-top"><i class="fa fa-angle-up"></i></span></div>
<script src="../zy/js/vendor.js"></script>
<script src="../zy/js/main.js"></script>
</body>
</html>